<h1>Projeto Base</h1>
<p>Bem-vindo ao Projeto Base!</p>


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Um jumbotron</h1>
        <p class="col-md-8 fs-4">Usando uma série de utilitários, você pode criar este jumbotron, assim como o das versões anteriores do Bootstrap. Confira os exemplos abaixo para saber como você pode remixar e remodelar ao seu gosto.</p>
        <%# <button class="btn btn-primary btn-lg" type="button">Exemplo de botão</button> %>
        <%= link_to "Cadastrar turma", turmas_path, class:"btn btn-primary btn-lg" %>
    </div>
</div>